@font-face {
  font-family: "Merriweather";
  src: url('./assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: "Golos";
  src: url('./assets/fonts/GolosText-Regular.ttf');
}

@font-face {
  font-family: "GolosBold";
  src: url('./assets/fonts/GolosText-SemiBold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 100%;
  /* height: 760px; */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/1920.png'); */
  /* background-color: #E9DED4; */
  /* background-blend-mode: multiply; */
  display: flex;
  flex-direction: column;
}

.main__container {
  padding-top: 26px;
  max-width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/1920.png');
  display: flex;
  flex-direction: column;
  background-position: center center;
}

.main__header {
  margin-left: 5.3vw;
}

.main__content {
  margin-top: 62px;
  margin-left: 5.3vw;
  width: 542px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: "Merriweather";
  font-size: 60px;
  text-transform: uppercase;
  color: #313131;
}

.main__title-center {
  text-align: center;
}

.main__description {
  margin: 20px 0 40px;
  font-family: "Golos";
  font-size: 18px;
  text-align: center;
}

.main__red-line {
  width: max-content;
  height: 60px;
  background-color: #F54932;
  overflow: hidden;
}

.main__buttons-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main__black-button {
  width: 263px;
  height: 72px;
  padding: 16px 49px;
  border-radius: 66px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  font-family: 'Golos';
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.main__black-button:hover {
  background-color: #FBCE51;
  color: #1F1F1F;
}

.main__light-button {
  width: 263px;
  height: 72px;
  padding: 16px 49px;
  border-radius: 66px;
  background-color: transparent;
  color: #1F1F1F;
  font-family: 'Golos';
  font-size: 16px;
  border: 2px solid #1F1F1F;
  cursor: pointer;
}

.main__light-button:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.main__running-line {
  height: 60px;
  animation: text 20s linear infinite;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Merriweather';
  text-transform: uppercase;
  font-size: 22px;
  color: #FFFFFF;
  animation-direction: reverse;
}

.main__red-line-circle {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

@keyframes text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.information {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 200px;
  padding-left: 5.3vw;
  padding-right: 5.3vw;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.information___block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information___header {
  max-width: 764px;
  font-family: "Merriweather";
  font-size: 36px;
  text-transform: uppercase;
  color: #313131;
}

.information___header span {
  color: #F54932;
  font-weight: bold;
}

.information___table-image {
  max-width: 474px;
}

.information___table-block {
  max-width: 704px;
  display: flex;
  flex-direction: column;
}

.information___table {
  margin-top: 60px;
  margin-bottom: 48px;
  border-collapse: collapse;
  font-family: 'Golos';
  color: #313131;
}

th,
td {
  border: 2px solid #D0D0D0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.information___table td:nth-child(2) {
  font-family: 'GolosBold';
  padding-left: 16px;
}

del {
	text-decoration: line-through;
	text-decoration-color: #F54932;
  text-decoration-thickness: 2px;
}

.information___table-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main__container {
    padding-top: 18px;
    max-width: 100%;
    height: 736px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url('./assets/mobile.png');
    display: flex;
    flex-direction: column;
    background-position: center center;
  }

  .main__header-logo {
    height: 32px;
  }

  .main__content {
    margin-top: 40px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__header {
    margin-left: 20px;
  }

  .main__red-line {
    height: 38px;
  }

  .main__running-line {
    font-size: 16px;
    height: 38px;
  }

  .main__title {
    font-size: 36px;
  }

  .main__description {
    margin-top: 24px;
    margin-bottom: 32px;
    text-align: start;
  }

  .main__buttons-block {
    gap: 14px;
  }

  .main__black-button {
    width: 335px;
    height: 47px;
    padding: 0 0 2px 0;
  }

  .main__light-button {
    width: 335px;
    height: 47px;
    padding: 0 0 2px 0;
    background-color: #FFFFFF;
    border: none;
  }

  .information___table {
    display: none;
  }

  .information___table-mobile {
    border-collapse: collapse;
    font-family: 'Golos';
    color: #313131;
    display: flex;
    flex-direction: column;
  }

  .information___table-mobile-cell {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #D0D0D0;
  }

  .information___table-mobile-cell p:nth-child(2) {
    font-family: 'GolosBold';
    padding-top: 12px;
  }
}