@font-face {
  font-family: "Merriweather";
  src: url('./assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: "Golos";
  src: url('./assets/fonts/GolosText-Regular.ttf');
}

@font-face {
  font-family: "GolosBold";
  src: url('./assets/fonts/GolosText-SemiBold.ttf');
}

@font-face {
  font-family: "GolosMedium";
  src: url('./assets/fonts/GolosText-Medium.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.main__container {
  padding-top: 26px;
  max-width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/1920.png');
  display: flex;
  flex-direction: column;
  background-position: center center;
}

.main__header {
  margin-left: 5.1vw;
  margin-top: -2px;
}

.main__content {
  margin-top: 52px;
  margin-left: 4.9vw;
  width: 542px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: "Merriweather";
  font-size: 60px;
  text-transform: uppercase;
  color: #313131;
}

.main__title-text {
  line-height: 1.3;
  padding-left: 2px;
}

.main__title-text-second {
  line-height: 0.9;
  padding-left: 2px;
}

.main__title-center-first {
  text-align: center;
  line-height: 1.3;
  padding-left: 5px;
}

.main__title-center-second {
  text-align: center;
  line-height: 0.9;
  padding-left: 34px;
  letter-spacing: -0.5px;
}

.main__description {
  margin: 30px 0 40px;
  font-family: "Golos";
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.main__red-line {
  width: max-content;
  height: 60px;
  background-color: #F54932;
  overflow: hidden;
}

.main__buttons-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main__black-button {
  width: 263px;
  height: 72px;
  padding: 14px 49px;
  border-radius: 66px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  font-family: 'Golos';
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.main__black-button:hover {
  background-color: #FBCE51;
  color: #1F1F1F;
}

.main__light-button {
  width: 263px;
  height: 72px;
  padding: 14px 49px;
  border-radius: 66px;
  background-color: transparent;
  color: #1F1F1F;
  font-family: 'Golos';
  font-size: 16px;
  border: 2px solid #1F1F1F;
  cursor: pointer;
}

.main__light-button:hover {
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.main__running-line {
  height: 60px;
  animation: text 20s linear infinite;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Merriweather';
  text-transform: uppercase;
  font-size: 22px;
  color: #FFFFFF;
  animation-direction: reverse;
}

.main__red-line-circle {
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

@keyframes text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.information {
  width: 100%;
  margin-top: 107px;
  margin-bottom: 185px;
  padding-left: 5.1vw;
  padding-right: 5.3vw;
  display: flex;
  flex-direction: column;
  gap: 64px;
  line-height: 1.35;
}

.information___header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.information___header-section-mobile {
  display: none;
}

.information___table-section {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.information___header {
  padding-top: 2px;
  max-width: 764px;
  font-family: "Merriweather";
  font-size: 36px;
  text-transform: uppercase;
  color: #313131;
}

.information___header-image {
  margin-top: -30px;
}

.information___header span {
  color: #F54932;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.information___table-image {
  margin-left: -30px;
  margin-top: -26px;
}

.information___table-block {
  max-width: 704px;
  display: flex;
  flex-direction: column;
}

.information___table {
  margin-bottom: 29px;
  margin-top: 43px;
  margin-right: 19%;
  border-collapse: collapse;
  font-family: 'Golos';
  color: #313131;
  font-size: 20px;
}

th,
td {
  border: 2px solid #D0D0D0;
  padding-top: 14px;
  padding-bottom: 14px;
}
.information___table td:nth-child(2) {
  font-family: 'GolosBold';
  padding-left: 16px;
}

del {
	text-decoration: line-through;
	text-decoration-color: #F54932;
  text-decoration-thickness: 2px;
}

.information___table-mobile {
  display: none;
}

.link {
  font-family: 'Golos';
  color: #3057A2;
  font-size: 20px;
}

.stages {
  margin-bottom: 200px;
  width: 65%;
  padding-left: 5.1vw;
  padding-right: 5.3vw;
}

.stages__header {
  font-family: "Merriweather";
  font-size: 54px;
  color: #313131;
  text-transform: uppercase;
  line-height: 66.5px;
}

.stages__header-mobile {
  display: none;
}

.stages__header-link {
  text-transform: none;
  display: inline-block;
  line-height: 1.3;
  padding-left: 7px;
}

.stages__section {
  position: relative;
  margin-top: 52px;
  width: 89.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 112px 112px 136px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }

.stages__item {
  height: 112px;
  padding: 20px;
  display: flex;
  gap: 16px;
  font-family: 'Golos';
  font-size: 20px;
}

.stages__item-number {
  width: 36px;
  height: 36px;
  border-radius: 60px;
  font-family: 'GolosBold';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.stages__item p {
  width: 302px;
  letter-spacing: 0.1px;
}
  
.item1 { 
  grid-area: 1 / 1 / 2 / 2; 
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background1.png');
}

.item2 { 
  grid-area: 1 / 2 / 2 / 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background1.png');
}

.item3 { 
  grid-area: 2 / 1 / 3 / 2; 
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background1.png');
}

.item4 { 
  grid-area: 2 / 2 / 3 / 3; 
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background1.png');
}

.item5 { 
  grid-area: 1 / 3 / 3 / 4; 
  height: 244px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background2.png');
}

.item6 { 
  grid-area: 3 / 1 / 4 / 2; 
  height: 136px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background1.png');
}

.item7 { 
  grid-area: 3 / 2 / 4 / 4; 
  height: 136px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:  url('./assets/background3.png');
}

.item7 p {
  width: 446px;
}

.stages__section-image {
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -5%;
}

.stages__section-mobile {
  display: none;
}

.stages__section-mobile-image {
  display: none;
}

.prev-button, .next-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #FBCE51;
}

.disabled {
  background-color: rgba(49, 49, 49, 0.2);
}

.next-button {
  transform: rotate(180deg);
}

.members {
  width: 100%;
  padding-left: 5.1vw;
  padding-right: 5.3vw;
}

.members__header-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members__header {
  font-family: "Merriweather";
  font-size: 54px;
  color: #313131;
  text-transform: uppercase;
  line-height: 66.5px;
}

.members__header-buttons {
  margin-bottom: 2px;
  width: 153px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.members__number-block {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.members__number-block p {
  font-family: 'Golos';
  font-size: 16px;
  color: #313131;
}

.members__number-block span {
  font-family: 'Golos';
  font-size: 16px;
  color: rgba(49, 49, 49, 0.3);
}

.members__list {
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
}

.members__list-slide {
  width: 100%;
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  animation: slide 8s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.members__list-card {
  width: 400px;
  padding-left: 37px;
  padding-right: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.members__list-card-header {
  margin-top: 24px;
  margin-bottom: 6px;
  font-family: 'GolosBold';
  font-size: 24px;
  color: #313131;
}

.members__list-card-descriprion {
  font-family: 'Golos';
  font-size: 20px;
  color: rgba(49, 49, 49, 0.3);
}

.members__list-card-button {
  margin-top: 20px;
  width: 113px;
  height: 35px;
  border-radius: 62px;
  border: 1px solid #3057A2;
  color: #3057A2;
  font-family: 'GolosMedium';
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

.members__list-card-button:hover {
  background-color: #3057A2;
  color: #FFFFFF;
}

.members__list-mobile {
  display: none;
}

.members__list-mobile-block {
  display: none;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-bottom: 72px;
  background-color: #E9DED4;
  font-family: 'Golos';
  color: #313131;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .main__container {
    padding-top: 18px;
    max-width: 100%;
    height: 736px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url('./assets/mobile.png');
    display: flex;
    flex-direction: column;
    background-position: center center;
  }

  .main__header-logo {
    height: 31px;
  }

  .main__content {
    margin-top: 36px;
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__header {
    margin-left: 20px;
  }

  .main__red-line {
    height: 38px;
  }

  .main__running-line {
    font-size: 16px;
    height: 38px;
  }

  .main__title {
    font-size: 36px;
  }

  .main__title-center-second {
    padding-left: 22px;
    padding-top: 1px;
    line-height: 0.9;
  }

  .main__description {
    margin-top: 26px;
    margin-bottom: 32px;
    text-align: start;
    letter-spacing: 0.1px;
  }

  .main__buttons-block {
    gap: 14px;
  }

  .main__black-button {
    width: 335px;
    height: 47px;
    padding: 0 0 2px 0;
  }

  .main__light-button {
    width: 335px;
    height: 47px;
    padding: 0 0 2px 0;
    background-color: #FFFFFF;
    border: none;
  }

  .information {
    margin-top: 84px;
    margin-bottom: 115px;
  }

  .information___header-section {
    display: none;
  }

  .information___header {
    font-size: 28px;
  }

  .information___header-section-mobile {
    display: block;
  }

  .information___header-image-mobile {
    width: 335px;
    height: 212px;
    margin-top: 24px;
    margin-bottom: 18px;
  }

  .information___table {
    display: none;
  }

  .information___table-image {
    width: 376px;
    height: auto;
    margin-left: -21px;
    margin-top: -30px;
    padding-bottom: 5px;
  }

  .information___table-mobile {
    margin-top: 24px;
    margin-bottom: 23px;
    font-family: 'Golos';
    color: #313131;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .information___table-mobile-cell {
    padding-top: 16px;
    padding-bottom: 9px;
    border-bottom: 2px solid #D0D0D0;
  }

  .information___table-mobile-cell p:nth-child(2) {
    font-family: 'GolosBold';
    padding-top: 12px;
  }

  .information___table-mobile-cell p span {
    font-family: 'GolosBold';
    padding-top: 12px;
  }

  .stages__header {
    font-size: 36px;
  }

  .stages__section {
    display: none;
  }

  .stages__section-mobile {
    position: relative;
    margin-top: 144px;
    width: 90vw;
    display: block;
    display: flex;
    flex-direction: column;
  }

  .stages__section-mobile-slider {
    display: flex;
    gap: 28px;
    overflow: hidden;
  }
  .stages__section-mobile-slide {
    height: 300px;
    padding-top: 42px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url('./assets/background-mobile.png');
  }

  .fade, .members__list-card-mobile {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  .stages__item {
    width: 335px;
    font-size: 18px;
  }

  .stages__item p {
    width: 235px;
  }

  .stages__section-mobile-image {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: 16px;
  }

  .link {
    font-size: 18px;
  }

  .stages__header {
    display: none;
  }

  .stages__header-mobile {
    padding-top: 2px;
    display: block;
    font-family: "Merriweather";
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.15;
  }

  .stages__header-mobile a {
    text-transform: none;
    font-size: 18px;
    width: 100vw;
    display: inline-block;
    padding-top: 10px;
  }

  .stages__section-mobile-buttons {
    margin-top: 28px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .prev-button, .next-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .prev-button:hover,
  .next-button:hover {
    background-color: #FBCE51;
  }

  .disabled {
    background-color: rgba(49, 49, 49, 0.2);
  }

  .next-button {
    transform: rotate(180deg);
  }

  .stages {
    margin-bottom: 117px;
  }

  .stages__section-mobile-dots {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .stages__section-mobile-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
  }

  .dot-active {
    background-color: #313131;
  }

  .members__header-buttons {
    display: none;
  }

  .members__list {
    display: none;
  }

  .members__header {
    padding-top: 2px;
    display: block;
    font-family: "Merriweather";
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.15;
  }

  .members__list-mobile {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    /* gap: 32px; */
    justify-content: space-between;
  }

  .members__list-card {
    width: 90vw;
    margin-left: 17px;
    padding-left: 0;
  }

  .members__list-card img{
    height: 244px;
    width: 244px;
    margin-bottom: 30px;
  }

  .members__list-card-header {
    width: 90vw;
    margin-top: -2px;
    font-size: 23px;
    text-align: center;
  }

  .members__list-mobile-block {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .members__header-buttons-mobile {
    display: flex;
    gap: 10px;
    align-self: center;
  }

  .members__list-slide {
    animation: none;
  }

  .footer {
    padding-bottom: 60px;
  }
}